pkgbase = terraform-provider-sakuracloud-bin
	pkgdesc = Terraform for SakuraCloud
	pkgver = 1.21.3
	pkgrel = 1
	url = https://github.com/sacloud/terraform-provider-sakuracloud
	arch = i686
	arch = x86_64
	license = Apache
	source_i686 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v1.21.3/terraform-provider-sakuracloud_1.21.3_linux-386.zip
	sha256sums_i686 = ca95b35275e600c2f39259182ba448308d7a96fe5171e20f49ecd377c2c6b224
	source_x86_64 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v1.21.3/terraform-provider-sakuracloud_1.21.3_linux-amd64.zip
	sha256sums_x86_64 = 006094cda064871018ad91ef206ab6ab1a0097c127bf8fa326a32e4fea834a49

pkgname = terraform-provider-sakuracloud-bin

