pkgbase = terraform-provider-sakuracloud-bin
	pkgdesc = Terraform for SakuraCloud
	pkgver = 1.12.0
	pkgrel = 1
	url = https://github.com/sacloud/terraform-provider-sakuracloud
	arch = i686
	arch = x86_64
	license = Apache
	source_i686 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v1.12.0/terraform-provider-sakuracloud_1.12.0_linux-386.zip
	sha256sums_i686 = e732b67cc3ca63be3a9f998207e7f77499637ff1e221523acd8c4222ad4c4de9
	source_x86_64 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v1.12.0/terraform-provider-sakuracloud_1.12.0_linux-amd64.zip
	sha256sums_x86_64 = 17333f778f20c15789e5997c4bbe8a1a6a821be1b675fc8e47e5143613315dcc

pkgname = terraform-provider-sakuracloud-bin

