pkgbase = terraform-provider-sakuracloud-bin
	pkgdesc = Terraform for SakuraCloud
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/sacloud/terraform-provider-sakuracloud
	arch = i686
	arch = x86_64
	license = Apache
	source_i686 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v2.0.1/terraform-provider-sakuracloud_2.0.1_linux-386.zip
	sha256sums_i686 = 4533a7fe177bce790cca950b4d54642912fb5758714f94b97d31a32fc7a0ee83
	source_x86_64 = https://github.com/sacloud/terraform-provider-sakuracloud/releases/download/v2.0.1/terraform-provider-sakuracloud_2.0.1_linux-amd64.zip
	sha256sums_x86_64 = 1321e39110d354f63dd78865bb170dfca418094b2f8437e6a1cb34c6e934e78e

pkgname = terraform-provider-sakuracloud-bin

